<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @resume.name %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @resume.image_url %>
</p>

<p>
  <strong>Role:</strong>
  <%= @resume.role %>
</p>

<p>
  <strong>Location:</strong>
  <%= @resume.location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @resume.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @resume.phone %>
</p>

<h2>Skills</h2>
<%= render @resume.skills %>
 
<h2>Add a skill:</h2>
<%= render 'skills/form' %>

<h2>Languages</h2>
<%= render @resume.languages %>
 
<h2>Add a language:</h2>
<%= render 'languages/form' %>

<h2>Work Experience</h2>
<%= render @resume.experiences %>
 
<h2>Add a language:</h2>
<%= render 'experiences/form' %>

<h2>Education</h2>
<%= render @resume.educations %>
 
<h2>Add a education:</h2>
<%= render 'educations/form' %>

<%= link_to 'Edit', edit_resume_path(@resume) %> |
<%= link_to 'Back', resumes_path %>